@import "tailwindcss";

@theme {
  --color-primary: #2e6b3e;
  --color-secondary: #206c3b;
  --color-primary-container: #2e6b3e;
  --color-cta-green: #2e6b3e;
  --color-brand-green: #418a56;
  --color-on-primary: #ffffff;
  --color-surface-variant: #dce2f7;
  --color-on-surface: #141b2b;
  --color-status-red: #ef4444;
  --color-status-blue: #1d4ed8;
  --color-status-amber: #f59e0b;
  --color-page-bg: #f3f4f6;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.dot-texture {
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 20px 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
